@font-face {
    font-family: 'toy-story-font';
    src: URL('../fonts/MODENINE.TTF') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #3ea2cf;
    margin: 0;
    min-height: 100vh;
    height: 100%;
}

.paralax-hero {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 400px;
}

.logo-container {
    width: 50%;
    top: 8%;
    position: absolute;
    margin: 0 auto;
    z-index: 3;
}

#toy_story_logo {
    height: 90%;
    width: 90%;
    transform: scale(0.8) translate3d(0, 0, -200px);
    object-fit: cover;
}

.big-cloud, .small-cloud {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-repeat: repeat;
    background-size: 15%;
}

.small-cloud {
    height: 775px;
    background-image: url("../images/clouds_small.png");
    animation: movimiento 75s infinite linear;
    z-index: 1;
}

.big-cloud {
    height: 720px;
    background-image: url("../images/clouds_big.png");
    animation: movimiento 45s infinite linear;
    z-index: 2;
}

.banner-container {
    width: 100%;
    position: absolute;
    top: 81%;
    z-index: 5;
    text-align: center;
}

.banner-container>img {
    width: 100%;
}

#countdown {
    position: absolute;
    top: 9%;
    left: 31%;
    font-family: toy-story-font;
    color: #e10024;
    font-weight: bolder;
}

/* menu hamburguesa */

.burger-menu {
    width: 15%;
    overflow: hidden;
    background-color: rgba(97, 95, 95, 0);
    position: fixed;
    top: 25px;
    margin-left: 25px;
    z-index: 999;
}

.transform {
    visibility: hidden;
}

.transform-active {
    visibility: visible;
    height: 100%;
    width: 100%;
}

.burger-menu a {
    width: 40%;
    padding: 8px 8px;
    color: #fed700;
    background-color: #05428a;
    font-family: toy-story-font;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.burger-menu a:hover {
    color: #f4aa28;
    background-color: #162f51;
}

#menu-input {
    width: 2vh;
    border-radius: 5px 5px;
    padding: 14px 14px;
    border: 2px solid #fed700;
}

.burger-menu a.icon {
    background: #e10024;
    color: #fed700;
    top: 0;
}

#menu-input:hover {
    background-color: #ac001d;
    color: #f4aa28;
}

.active {
    background-color: #631414;
    color: white;
}

.loading {
    display: flex;
    position: sticky;
    top: 50%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading>img {
    height: 70px;
    width: 70px;
    animation: loading 2s infinite ease-in-out;
    transform-origin: 50%;
}

/* FLOOR */

.floor {
    overflow: hidden;
    display: inline;
    position: absolute;
    top: 90%;
    width: 100%;
    height: 1650px;
    background-image: url("../images/floor.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.floor>div {
    display: inline-block;
    width: 400px;
    height: 700px;
    filter: blur(4px);
    background-size: 90%;
    background-repeat: no-repeat;
    animation: zoomOut 3s forwards;
}

.floor>div:hover {
    animation: zoomIn 3s forwards;
}

.woodie {
    background-image: url("../images/woodie.png");
    top: 10%;
    right: 111%;
    overflow: hidden;
    position: absolute;
    background-size: contain;
}

.buzz {
    background-image: url("../images/buzz.png");
    right: 51%;
    top: -27%;
    overflow: hidden;
    position: absolute;
    background-size: contain;
}

.vaquera {
    background-image: url("../images/vaquera.png");
    top: 10%;
    left: 111%;
    overflow: hidden;
    position: absolute;
    background-size: contain;
}

.pastora {
    background-image: url("../images/pastora.png");
    top: 48%;
    left: 51%;
    overflow: hidden;
    position: absolute;
    background-size: contain;
}

/*CARROUSELL*/

.carousel {
    position: relative;
    left: 36%;
    top: 55%;
    width: 512px;
    height: 512px;
    overflow: hidden;
    z-index: 30;
}

.carousel-img {
    background-image: url("../images/carousel-img.png");
    background-repeat: repeat-x;
    animation: desplazar 24s ease-in-out infinite;
    animation-delay: 0s;
    width: 397px;
    height: 477px;
    position: absolute;
    z-index: 29;
    overflow: hidden;
}

.carousel-img img {
    position: absolute;
    left: -71%;
}

.players-title {
    position: relative;
    top: 10%;
    left: 32%;
}

/*EVENTOS*/

.events {
    background-color: #7b35ac;
}

/*ACORDEON*/

.acordeon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: toy-story-font;
    z-index: 2;
}

.half {
    float: left;
    width: 50%;
    padding: 1em 1em;
}

.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #2c8638;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.tab label:hover {
    background: #246e2e;
    transition: all 0.5s ease-in-out;
}

.blue label {
    background: #2980b9;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    background: #30973e;
    transition: max-height .35s;
}

.rotar {
    display: flex;
}

.rotar img {
    margin: 5%;
    width: 80%;
    border-radius: 15px 15px;
    transition: all .7s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    perspective: 400px;
}

.rotar img:hover {
    transform: perspective(2000px) rotateY(35deg);
}

.rotar p {
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
}

.tab input:checked~.tab-content {
    max-height: 100vh;
}

.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    transition: all .35s;
}

.tab input[type=checkbox]+label::after {
    content: "+";
}

.tab input[type=radio]+label::after {
    content: "\25BC";
}

.tab input[type=checkbox]:checked+label::after {
    transform: rotate(315deg);
}

.tab input[type=radio]:checked+label::after {
    transform: rotateX(180deg);
}

/*Transition banner*/

.transition-container img {
    width: 100%;
    z-index: 9999;
    margin-bottom: -1%;
}

/* COMENTARIOS*/

#forum {
    padding-top: 2%;
    height: 100%;
    background-color: #329b3f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-around;
    width: 100%;
}

.coment-title{
    width: 30%;
    align-self: center;
    margin-bottom: 2%;
}

.form-coment {
    border-radius: 5px;
    background-color: #d7c8e4;
    border: 2px solid #7b35ac;
    padding: 20px;
    width: 30%;
    align-self: center;
    margin: 3%;
    opacity: 0;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #7b35ac;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#button-send {
    width: 100%;
    background-color: #854aaf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    font-family: toy-story-font;
    font-size: 100%;
    animation: fill .2s linear forwards;
}

#button-send:hover {
    background-color: #7019af;
}

.button-img{
    width:10%;
    animation: loading 2s infinite ease-in-out;
    transform-origin: 50%;
    display: none;
    margin-left: 45%;
}

form label {
    color: #000;
    font-weight: 400;
    font-family: toy-story-font;
}

/*Caja de comentarios*/

.comentarios {
    width: 70%;
    align-self: center;
}

.cajaPar, .cajaImpar {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: #a57bc4;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    border: 2px solid #7b35ac;
    animation: zoomOutComents 3s forwards;
    opacity: 0;
}

.cajaPar:hover, .cajaImpar:hover {
    background: #9452c4;
    animation: zoomInComents 3s forwards;
}

.cajaPar {
    border-radius: 35px 0px 35px 0px;
}

.cajaImpar {
    border-radius: 0px 35px 0px 35px;
}

.cajaPar:hover {
    border-radius: 0px 35px 0px 35px;
}

.cajaImpar:hover {
    border-radius: 35px 0px 35px 0px;
}

.username {
    color: #000;
    font-weight: 400;
    font-family: toy-story-font;
}

.hidden {
    visibility: hidden;
}
@keyframes fill {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
  }

@keyframes movimiento {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1880px;
    }
}

@keyframes desplazar {
    0% {
        background-position: -4px;
    }
    16% {
        background-position: -383px;
    }
    33% {
        background-position: -770px;
    }
    50% {
        background-position: -1157px;
    }
    66% {
        background-position: -770px;
    }
    82% {
        background-position: -383px;
    }
    100% {
        background-position: -4px;
    }
}

@keyframes zoomOutComents {
    0% {
        width: 100%;
    }
    100% {
        width: 90%;
    }
}

@keyframes zoomInComents {
    0% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

@keyframes zoomIn {
    0% {
        filter: blur(4px);
        background-size: 90%;
    }
    100% {
        filter: blur(0px);
        background-size: 100%;
    }
}

@keyframes zoomOut {
    0% {
        filter: blur(0px);
        background-size: 100%;
    }
    100% {
        filter: blur(4px);
        background-size: 90%;
    }
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}