@keyframes movimiento {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1880px;
    }
}

@font-face {
    font-family: 'toy-story-font';
    src: URL('../fonts/MODENINE.TTF') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #3ea2cf;
    margin: 0;
    min-height: 100vh;
    perspective: 400px;
}

.paralax-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.logo-container {
    height: 50%;
    width: 50%;
    position: relative;
    margin: 0 auto;
    z-index: 3;
}

#toy_story_logo {
    height: 90%;
    width: 90%;
    transform: scale(0.8) translate3d(0, 0, -100px);
    object-fit: cover;
}

.big-cloud, .small-cloud {
    height: 690px;
    width: 100%;
    left: 0;
    position: absolute;
    background-repeat: repeat;
    background-size: 15%;
}

.small-cloud {
    background-image: url("../images/clouds_small.png");
    animation: movimiento 75s infinite linear;
    z-index: 1;
}

.big-cloud {
    background-image: url("../images/clouds_big.png");
    animation: movimiento 45s infinite linear;
    z-index: 2;
}

.banner-container {
    width: 100%;
    position: absolute;
    top: 80%;
    z-index: 5;
    text-align: center;
}

.banner-container>img {
    width: 100%;
}

#countdown {
    position: absolute;
    top: 8%;
    left: 30%;
    font-family: toy-story-font;
    color: #e10024;
    font-weight: bolder;
}

/* menu hamburguesa */

.burger-menu {
    width: 15%;
    overflow: hidden;
    background-color: rgba(97, 95, 95, 0);
    position: sticky;
    top: 25px;
    margin-left: 25px;
    z-index: 999;
}

.burger-menu #myLinks {
    display: none;
}

.burger-menu a {
    width: 40%;
    padding: 8px 8px;
    color: #fed700;
    background-color: #05428a;
    font-family: toy-story-font;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.burger-menu a:hover {
    color: #f4aa28;
    background-color: #162f51;
}

#menu-input {
    width: 2vh;
    border-radius: 5px 5px;
    padding: 14px 16px;
}

.burger-menu a.icon {
    background: #e10024;
    color: #fed700;
    top: 0;
}

#menu-input:hover {
    background-color: #ac001d;
    color: #f4aa28;
}

.active {
    background-color: #631414;
    color: white;
}

/* body > *:not(#loading) {
    filter: blur(3px);
} */

#loading {
    display: flex;
    position: sticky;
    top: 50%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading>img {
    height: 70px;
    width: 70px;
    animation: loading 2s infinite ease-in-out;
    transform-origin: 50%;
}

.hidden {
    display: none!important;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}