#canvas {
    margin-top: 1%;
    border: solid 1px #2D0238;
    background-color: #ffffff;
}

.container-tools {
    margin-top: 2%;
}

.range-paint {
    margin-top: 4%!important;
}

.hidden {
    display: none;
}

.container-tools>.row {
    margin-top: 1%;
}

#download, .dropdown {
    width: 100%;
}

body {
    background-color: #c2a7c9;
}

.btn {
    margin-top: 6%;
    background-color: #2D0238;
}

.btn:hover, .dropdown-menu {
    background-color: #622870;
}

.dropdown-item {
    color: #FFFFFF;
}

.form-control {
    margin-bottom: 10%;
}